{% extends "base.html" %}

{% block content %}
  <h1>Desativar MFA</h1>
  <p>Confirme sua senha e o código atual do aplicativo autenticador.</p>

  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.password.label }}<br>
      {{ form.password(autocomplete="current-password") }}
    </p>
    <p>
      {{ form.code.label }}<br>
      {{ form.code(inputmode="numeric", autocomplete="one-time-code", maxlength="6") }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
